

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: grey;
    opacity:0.5; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    z-index: 11;
}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    margin-top: 100px;
}


.sidenav a:hover {
    color: black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 35px;
    font-size: 36px;
    margin-left: 70px;
}



@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.nav{
	width:100vw;
	height:30px;
	background-color :white;
	opacity: 0.7;
	padding: 20px;
	position:fixed;
	top: 0;
	left:0;
	z-index: 10;
}

#cover{height:100vh;
	width:100vw;
	display:flex;
	align-items: center;
	justify-content: center;
	background-color:black;
	background-image: url("1.jpg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
	
}

.bar {
    width: 35px;
    height: 5px;
    background-color: grey;
    margin: 6px 0;
}


.my{
	color:white;
	padding:10px;
	text-align:left;
	border:solid 3px white;
}



.pop{
    position: relative;
    color:white;
    opacity:0.2;
    font-size: 80px;
    display:none;

	
}
.pop{animation: myself 20s infinite;}

@keyframes myself {
   0%{color:white; left:0px; top:0px;}
   25%{color:white; left:500px; top:0px;}
   50%{color:white; left:500px; top:650px;}
   75%{color:white; left:0px; top:650px;}
   100%{color:white; left:0px; top:0px;}
}
.pp{position: relative;
    color:white;
    opacity:0.8;
    font-size: 80px;
    display:none;
}
.pp{animation: self 25s infinite;}

@keyframes self {
   0%{color:white; left:0px; top:0px;}
   25%{color:white; left:500px; top:0px;}
   50%{color:white; left:500px; top:650px;}
   100%{color:white; left:0px; top:0px;}
}

.p{position: relative;
    color:white;
    opacity:0.5;
    display: none;
	
}
.p{animation: lf 55s infinite;}

@keyframes lf {
   0%{color:white; left:0px; top:-100px;}
   25%{color:white; left:500px; top:-100px;}
   50%{color:white; left:500px; top:650px;}
   75%{color:white; left:0px; top:650px;}
   100%{color:white; left:0px; top:-100px;}
}

.pppp{
	position: relative;
    color:white;
    opacity:0.6;
    display:none;
	
}
.pppp{animation: f 5s infinite;}

@keyframes f {
   0%{color:white; left:0px; top:-50px;}
   25%{color:white; left:500px; top:-50px;}
   75%{color:white; left:0px; top:50px;}
   100%{color:white; left:0px; top:-50px;}
}

button{
	background-color: transparent;
}
#dalian{height:100vh;
	width:100vw;
	display:flex;
	align-items: center;
	justify-content: center;
	background-image:url("DSC01460.jpg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
}


#providence{height:100vh;
	width:100vw;
	display:flex;
	align-items: center;
	justify-content: center;
}

.sofa{
	width:300px;
	position: fixed;
	padding:100px;
	margin-top:300px;
	z-index: 10;
}






