* {
  margin: 0;
  padding: 0;
}

html,body{
  margin: 0;
overflow-x:hidden;
width:100%;
height:100%;
}

/*sidebar*/
.bar{
	   width: 2.5%;
    height: 5px;
    background-color:#424243;
    margin: 6px 0;
}

.sidenav {
    height: 100%; 
    width: 0;
    position: fixed; /* Stay in place */
    top: 0; 
    left: 0;
    background-color: grey;
    opacity:0.5; 
    overflow-x: hidden; 
    padding-top: 60px;
    transition: 0.5s; 
    z-index: 11;
}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    margin-top: 50px;
}


.sidenav a:hover {
    color: black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 35px;
    font-size: 36px;
    margin-left: 70px;
}



@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.nav{
	width:100vw;
	height:30px;
	background-color:transparent;
	opacity: 0.7;
	padding: 20px;
	position:fixed;
	top: 0;
	left:0;
	z-index: 10;
}

/*cover*/
#cover{
  position: relative;
  width:100%;
  height:auto;
  overflow: hidden;
}

#myVideo {
position:relative;
width:100%;
height:auto;
  right:0;
  bottom:0;
    overflow: hidden;
}

.ctext{
  position: absolute;
  color:white;
  width: 70%;
  padding: 30px;
  margin:20% 20%;
  line-height: 1.5;
  overflow: hidden; 
  white-space: nowrap; 
  animation: 
    typing 10s steps(50, end),
    blink-caret 1s step-end infinite;
    animation-delay: 3s;
    z-index: 10;
     animation-fill-mode: both;
}

.chtext{
   position: absolute;
  padding-left: 1.8em;
    color:white;
  width: 70%;
  padding: 30px;
  top:7%;
  margin:20% 20%;
  line-height: 1.5;
  overflow: hidden; 
  white-space: nowrap; 
  animation: 
    typing 10s steps(50, end),
    blink-caret 1s step-end infinite;
    z-index: 10;
    animation-delay:3s;
     animation-fill-mode:both;

}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


.scroll-down:before {
    position: absolute;
    top: calc(95% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}



#tab { display:inline-block; 
       margin-left: 40px; }

/*dalian*/

.contain{
  position:relative;
  top:0;
  width:100%;
  height:auto;
}

.im {
  display: block;
  top:0;
   width:100%;
  height:auto;
}
.ti{
  position: absolute;
   top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  padding: 16px 32px;
  border-style:solid;
  border-width: 2px;
    cursor: pointer;
}

.midd {
  width:30%;
  height:auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.textdl {
  background-color: #3a3a3a;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  opacity:0.7;
  display: none;
}

.sr:before {
    position: absolute;
    top: calc(95% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

/*flight1*/

#flight1{
  position: relative;
  color:white;

  width:100%;
     height:100%;
  background-color: black;

}



.lo{
  position: relative;
  left:26%;
  top:10%;
}

.st{
  width:50px;
  border-color: white;
  color:white;
  padding:10px;
  border-style:solid;
  border-width: 2px;
    cursor: pointer;
}


.line1{
  width:10px;
  height:0px;
  background-color: white;
  transition:height 6s;
}

.st:hover+.line1 {

  height:600px;
}

.ts{
  position: absolute;
  top:78%;
  left:26%;
}

.block{
    position: absolute;
  top:370px;
  left:790px;
  display:block;
  display:none;
}

.srco:before {
    position: absolute;
    top: calc(95% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
    z-index: 30;
}

/*pvd*/
.conta{
  position:relative;
  top:0;
  width:100%;
}

.i {
  display: block;
  top:0;
  width: 100vw;
  height: 100vh;
}

.pr{
  position: absolute;
   top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  padding: 16px 32px;
  border-style:solid;
  border-width: 2px;
    cursor: pointer;
}

.mid {
  width:30vw;
  height:auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.textpr {
  background-color: #3a3a3a;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  opacity:0.7;
  display: none;
}

.ss:before {
    position: absolute;
    top: calc(95% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
    z-index: 30;
}

/*road frompvd-bos*/
#road{
  position: relative;
  color:white;
    height:100vh;
  width:100vw;
  background-color: black;

}



.l{
  position: relative;
  left:300px;
  top:100px;
}

.stt{
  width:90px;
  border-color: white;
  color:white;
  padding:10px;
  border-style:solid;
  border-width: 2px;
    cursor: pointer;
}


.line2{
  width:5px;
  height:0px;
  background-color: white;
  transition:height 2s;
}

.stt:hover+.line2 {

  height:63px;
}

.tss{
  position: absolute;
  top:210px;
  left:300px;
}

.block2{
    position: absolute;
  top:370px;
  left:790px;
  display:block;
  display:none;
}

.srcolld:before {
    position: absolute;
    top: calc(95% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
    z-index: 30;
}

/*boston*/

.cont{
  position:relative;
  top:0;
  width:100%;
}

.ii {
  display: block;
  top:0;
  width: 100vw;
  height: 100vh;
}

.bo{
  position: absolute;
   top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  padding: 16px 32px;
  border-style:solid;
  border-width: 2px;
    cursor: pointer;
}

.mi {
  width:30vw;
  height:auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.textbo {
  background-color: #3a3a3a;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  opacity:0.7;
  display: none;
}

.soll:before {
    position: absolute;
    top: calc(95% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
    z-index: 30;
}

/*road2*/

#road2{
  position: relative;
  color:white;
    height:100vh;
  width:100vw;
  background-color: black;

}



.lll{
  position: relative;
  left:300px;
  top:100px;
}

.sttt{
  width:90px;
  border-color: white;
  color:white;
  padding:10px;
  border-style:solid;
  border-width: 2px;
    cursor: pointer;
}


.line3{
  width:4px;
  height:0px;
  background-color: white;
  transition:height 2s;
}

.sttt:hover+.line3 {
  height:200px;
}

.tsss{
  position: absolute;
  top:350px;
  left:300px;
}

.block3{
    position: absolute;
  top:370px;
  left:790px;
  display:block;
  display:none;
}

.srcolldo:before {
    position: absolute;
    top: calc(95% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
    z-index: 30;
}
/*new york*/

.co{
  position:relative;
  top:0;
  width:100%;
}

.iii {
  display: block;
  top:0;
  width: 100vw;
  height: 100vh;
}

.ne{
  position: absolute;
   top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  padding: 16px 32px;
  border-style:solid;
  border-width: 2px;
    cursor: pointer;
}

.mii {
  width:30vw;
  height:auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.textne {
  background-color: #3a3a3a;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  opacity:0.7;
  display: none;
}

.solll:before {
    position: absolute;
    top: calc(95% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
    z-index: 30;
}

/*road3*/

#road3{
  position: relative;
  color:white;
    height:100vh;
  width:100vw;
  background-color: black;

}



.llll{
  position: relative;
  left:300px;
  top:100px;
}

.stttt{
  width:85px;
  border-color: white;
  color:white;
  padding:10px;
  border-style:solid;
  border-width: 2px;
    cursor: pointer;
}


.line4{
  width:5px;
  height:0px;
  background-color: white;
  transition:height 2s;
}

.stttt:hover+.line4 {
  height:405px;
}

.tssss{
  position: absolute;
  top:550px;
  left:300px;
}

.block4{
    position: absolute;
  top:370px;
  left:790px;
  display:block;
  display:none;
}

.srcolldow:before {
    position: absolute;
    top: calc(95% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
    z-index: 30;
}
/*la*/

.coo{
  position:relative;
  top:0;
  width:100%;
}

.iiii {
  display: block;
  top:0;
  width: 100vw;
  height: 100vh;
}

.la1{
  position: absolute;
   top: 25%;
  left: 47%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  padding: 16px 32px;
  border-style:solid;
  border-width: 2px;
    cursor: pointer;
}

.miii {
  width:30vw;
  height:auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.textla1 {
  background-color: #3a3a3a;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  opacity:0.7;
  display: none;
}

.sollll:before {
    position: absolute;
    top: calc(95% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
    z-index: 30;
}

/*la2*/
.cooo{
  position:relative;
  top:0;
  width:100%;
}

.iiiii {
  display: block;
  top:0;
  width: 100vw;
  height: 100vh;
}

.la2{
  position: absolute;
   top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  padding: 16px 32px;
  border-style:solid;
  border-width: 2px;
    cursor: pointer;
}

.miiii {
  width:30vw;
  height:auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.textla2 {
  background-color: #3a3a3a;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  opacity:0.7;
  display: none;
}

.solllll:before {
    position: absolute;
    top: calc(95% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
    z-index: 30;
}

/*road4*/

#road4{
  position: relative;
  color:white;
    height:100vh;
  width:100vw;
  background-color: black;

}



.lllll{
  position: relative;
  left:300px;
  top:100px;
}

.sttttt{
  width:85px;
  border-color: white;
  color:white;
  padding:10px;
  border-style:solid;
  border-width: 2px;
    cursor: pointer;
}


.line5{
  width:5px;
  height:0px;
  background-color: white;
  transition:height 2s;
}

.sttttt:hover+.line5 {
  height:100px;
}

.tsssss{
  position: absolute;
  top:245px;
  left:300px;
}

.block5{
    position: absolute;
  top:370px;
  left:790px;
  display:block;
  display:none;
}

.srcolldoww:before {
    position: absolute;
    top: calc(95% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
    z-index: 30;
}
/*newport*/
.coooo{
  position:relative;
  top:0;
  width:100%;
}

.iiiii {
  display: block;
  top:0;
  width: 100vw;
  height: 100vh;
}

.np{
  position: absolute;
   top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  padding: 16px 32px;
  border-style:solid;
  border-width: 2px;
    cursor: pointer;
}

.miiiii {
  width:30vw;
  height:auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.textnp {
  background-color: #3a3a3a;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  opacity:0.7;
  display: none;
}

.sollllll:before {
    position: absolute;
    top: calc(95% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
    z-index: 30;
}

/*road5*/
#road5{
  position: relative;
  color:white;
    height:100vh;
  width:100vw;
  background-color: black;

}



.llllll{
  position: relative;
  left:300px;
  top:100px;
}

.stttttt{
  width:85px;
  border-color: white;
  color:white;
  padding:10px;
  border-style:solid;
  border-width: 2px;
    cursor: pointer;
}


.line6{
  width:5px;
  height:0px;
  background-color: white;
  transition:height 2s;
}

.stttttt:hover+.line6 {
  height:400px;
}

.tssssss{
  position: absolute;
  top:545px;
  left:300px;
}

.block6{
    position: absolute;
  top:370px;
  left:790px;
  display:block;
  display:none;
}

.srcolldowww:before {
    position: absolute;
    top: calc(95% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
    z-index: 30;
}

/*mia*/
.cooooo{
  position:relative;
  top:0;
  width:100%;
}

.iiiiii {
  display: block;
  top:0;
  width: 100vw;
  height: 100vh;
}

.kw{
  position: absolute;
   top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  padding: 16px 32px;
  border-style:solid;
  border-width: 2px;
    cursor: pointer;
}

.miiiiii {
  width:30vw;
  height:auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.textkw {
  background-color: #3a3a3a;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  opacity:0.7;
  display: none;
}

.solllllll:before {
    position: absolute;
    top: calc(95% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
    z-index: 30;
}

/*mia2*/
.coooook{
  position:relative;
  top:0;
  width:100%;
}

.iiiiiik {
  display: block;
  top:0;
  width: 100vw;
  height: 100vh;
}

.kwk{
  position: absolute;
   top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  padding: 16px 32px;
  border-style:solid;
  border-width: 2px;
    cursor: pointer;
}

.miiiiiik {
  width:30vw;
  height:auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.textkwk {
  background-color: #3a3a3a;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  opacity:0.7;
  display: none;
}

.solllllllk:before {
    position: absolute;
    top: calc(95% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
    z-index: 30;
}


/*coding*/
#code{
	height:100vh;
	width:100vw;
	display:flex;
	align-items: center;
	justify-content: center;
}









